body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
  color:blue;
}

a {
  color: #00B7FF;
}
h1{
  border:2px solid blue;
  padding:15px;
  text-align: center;
}
h2{
  color:crimson;
 
  padding:10px;
}